.mainAdmin {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkPass {
  margin: 20px 0px;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}
.password {
  padding: 8px;
  font-size: 16px;
  outline: none;
}
.checkPassBtn {
  background-color: black;
  color: whitesmoke;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 16px;
  width: 20%;
  border-radius: 4px;
}
#typeOfData {
  width: 20%;
}
.tableArea {
  margin: 30px;
}
.tableAreaMobile {
  display: none;
}
@media only screen and (max-width: 900px) {
  .checkPass {
    width: 100%;
    flex-direction: column;
  }
  .tableAreaMobile {
    display: flex;
  }
  .tableArea {
    display: none;
  }
  .password {
    width: 80%;
  }
  #typeOfData {
    width: 80%;
    margin-top: 8px;
  }
  .checkPassBtn {
    width: 80%;
    margin-top: 8px;
  }
}
