@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.disable {
  display: none;
}
.mainContainer {
  /* overflow-x: visible;
  overflow-y: visible; */
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navSection {
  text-align: center;
  margin: 15px;
  justify-self: flex-start;
  margin-bottom: 40px;
}
.title {
  color: whitesmoke;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 30px;
  margin: 6px;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.426);
}
.mainFormArea {
  width: 50%;
  display: flex;
  margin-bottom: 30px;
}
.mainForm {
  box-shadow: rgba(192, 192, 192, 0.15) 0px 48px 100px 0px;
  background-color: whitesmoke !important;
  width: 100%;
  z-index: 10;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.verticleWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px 0px;
}
.inputWrapper label {
  color: black;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 6px;
}
.inputWrapper input {
  background-color: inherit;
  border: 1.2px solid black;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  outline: none;
  border-radius: 2px;
}
.genderSelect {
  width: 65%;
  display: flex;
  margin-top: 8px;
  justify-content: space-evenly;
}
select,
option {
  background-color: whitesmoke;
  padding: 8px;
  font-size: 14px;
  outline: none;
  width: 100%;
  border-radius: 2px;
}
.submitForm {
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.verticleWrap .inputWrapper:first-child {
  margin-right: 20px;
}
.subTitle {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  background-color: whitesmoke;
  color: black;
  margin-top: 6px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
}
.afterFormSubmitContainer {
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.afterFormTitle {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px;
  letter-spacing: 1px;
}
.afterFormSub {
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.afterFromDesc {
  width: 80%;
  padding: 10px;
  text-align: center;
  letter-spacing: 1.2px;
  line-height: 28px;
  font-weight: 500;
}
.paymentSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px 0px;
}
.payOnlineBtn {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 8px;
  border-radius: 2px;
  margin-top: 10px;
  font-size: 14px;
  width: 45%;
  text-align: center;
  font-weight: 600;
  border: 1.2px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.uploadFIle {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 8px;
  border-radius: 2px;
  margin-top: 10px;
  font-size: 14px !important;
  text-align: center;
  font-weight: 600;
  border: 1.2px solid black;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}
.uploadScreenshotArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
}
.paymentSec img {
  width: 180px;
  height: 180px;
  margin: 0px 20px;
}
.qrCodetext {
  text-align: left;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
  text-transform: none;
  width: 100%;
}
.upload {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}
.contactDetails p {
  color: black;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
}
.contactDetails a {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}
.uploadingText {
  padding: 8px 14px;
  border-radius: 4px;
  background-color: black;
  color: whitesmoke;
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 1px;
}
.success {
  color: rgb(0, 136, 0);
  cursor: default;
}
@media only screen and (max-width: 900px) {
  .title {
    font-size: 28px;
  }
  .mainFormArea {
    width: 90%;
  }
  .verticleWrap {
    flex-direction: column;
    width: 100%;
  }
  .verticleWrap .inputWrapper:first-child {
    margin-right: 0;
  }
  .paymentSec {
    flex-direction: column;
    width: 95%;
  }
  .qrCodetext {
    margin-top: 15px;
  }
  .submitForm {
    margin-top: 10px;
  }
  .afterFormSubmitContainer {
    width: 90%;
    text-align: center;
  }
  .afterFromDesc {
    width: 100%;
  }
}
